<%= form_for(:sessions, url: session_path) do |form| %>
	<div>
		<%= form.label :email %>
		<%= form.text_field :email %>
		<%= form.label :password %>
		<%= form.password_field :password %>
	</div>
	<%= form.submit "Sign In" %>
<% end %>