<%= form_for(@user) do |form| %>
	<fieldset>
		<legend>Update Account</legend>
		<% if @user.errors.any? %>
		<h1> ERRRROSS </h1>
			<% @user.errors.full_messages.each do |msg| %>
			<%= msg %><br />
			<% end %>
		<% end %>
		<div>
			<%= form.label :username %>
			<%= form.text_field :username %> 
			<%= form.label :password %>
			<%= form.password_field :password %>
			<%= form.label :password_confirmation %>
			<%= form.password_field :password_confirmation %>
		</div>
		<%= form.submit "Sign Up" %>
</fieldset>
<% end %>