<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tiny Poster | <%= content_for?(:title) ? yield(:title) : "Index" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Tiny Poster</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <% if signed_in? %>
              <li class="has-dropdown">
                <a href="#"><%= current_user.email %></a>
                <ul class="dropdown">
                  <li class="active"><%= link_to "New Post", new_post_path %></li>
                  <li><%= link_to "Sign Out", session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="active"><%= link_to "Sign Up!", new_user_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
    <br />
    <div class="row">
      <div class="small-12">
        <%= yield %>
      </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>